<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-size: 1.5em; font-family: Helvetica, sans-serif;">

<div>
<h1> this is a spade </h1>
<p>
    {% for card in cards reversed %}
        {% if card.suit == 0 %}
            ***This is just a {{ card.get_suit_display.capitalize }}<br>
        {% else %}
            {{ card.rank.capitalize }} of {{ card.get_suit_display.capitalize }}{{ 2|pluralize }} <br>
        {%  endif %}
    {% endfor %}
</p>
</div>

</body>
</html>